<html>
<head>
    <title> ToDo </title>
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link href="/styles.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
</head>
<body>
    <div class="container">
        <h2> Sasi's ToDo List </h2>
        <div class="textBoxContainer">
            <form action="/" method="post" autocomplete="off">
                <input class="textBox" type="text" name="newtask" placeholder="add new task">
                <button class="button" formaction ="/addtask" type="submit"> Add Task </button>
            </form>
        </div>
        <div class="listContainer">
            <div>
                <h2> Added Task </h2>
                <ul class="todoList">
                    <% for( var i = 0; i < task.length; i++){ %>
                        <li class="listItem">
                            <span class="listItemName"> <%= task[i] %> </span>
                            <a href="/completetask?index=<%= i %>" class="complete">
                                <span class="material-symbols-outlined">done</span>
                            </a>
                            <a href="/removetask?index=<%= i %>" class="remove">
                                <span class="material-symbols-outlined">close</span>
                            </a>
                        </li>
                    <% } %>
                </ul>
            </div>
            <div>
                <h2> Completed Task </h2>
                <ul class="todoList">
                    <% for( var i = 0; i < complete.length; i++){ %>
                        <li class="listItem">
                            <span class="listItemName"> <%= complete[i] %> </span>
                            <a href="/reverttask?index=<%= i %>" class="revert">
                                <span class="material-symbols-outlined">undo</span>
                            </a>
                        </li>
                    <% } %>
                </ul>
            </div>
        </div>
        <div>
            <form id="saveForm" action="/" autocomplete="off">
                <input id="saveName" class="textBox" type="text" name="saveName" placeholder="List Name">
                <button class="button" id="save" type=submit>Save</button>
                <button class="button" id="load" type=submit>Load</button>
            </form>
        </div>
    </div>
    <script src="view.js"></script>
</body>
</html>